# Environments & Security
.env
.env.*
.api
.src
*.pem
*.key

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
backend/venv/

# Node & Build Output
node_modules/
frontend/node_modules/
dist/
frontend/dist/

# Application Data & Uploads
stegx.db
backend/stegx.db
uploads/
backend/uploads/*
!backend/uploads/.gitkeep
outputs/
backend/outputs/*
!backend/outputs/.gitkeep

# System & IDE
.DS_Store
*.log
.vscode/
.idea/
